# Server Configuration
HOST=localhost
PORT=3000

# Database Configuration
PGUSER=your_database_username
PGPASSWORD=your_database_password
PGDATABASE=openmusic
PGHOST=localhost
PGPORT=5432

# Database URL for migrations
DATABASE_URL=postgresql://your_database_username:your_database_password@localhost:5432/openmusic
